body {
    font-family: Arial, sans-serif;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em 0;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 15px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
